@mixin px-rem-property($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';
  @for $i from 1 through $max {
    $value: nth($values, $i);
    $valuePx: nth($values, $i)/0.1;
    @if $value == 0 {
      $pxValues: #{$pxValues + $valuePx};
      $remValues: #{$remValues + $value};
    } @else {
      $pxValues: #{$pxValues + $valuePx}px;
      $remValues: #{$remValues + $value}rem;
    }

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
      $remValues: #{$remValues + " "};
    }
  }

  @include not-ie8-and-lower{
    #{$property}: $remValues;
  }
  @include ie8-and-lower {
    #{$property}: $pxValues;
  }
}

@mixin opacity ($opacity) {
  @include not-ie8-and-lower {
    opacity: $opacity;
  }
  @include ie8-and-lower {
    filter: alpha(opacity=$opacity * 100);
  }
}

@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
//  background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Safari 5.1-6, Chrome 10+
//  background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Opera 12
//  background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
//  background-repeat: repeat-x;

  background: -webkit-linear-gradient(90deg, $start-color $start-percent, $end-color $end-percent); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, $start-color $start-percent, $end-color $end-percent); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, $start-color $start-percent, $end-color $end-percent); /* IE10 */
  background:      -o-linear-gradient(90deg, $start-color $start-percent, $end-color $end-percent); /* Opera 11.10+ */
  background:         linear-gradient(90deg, $start-color $start-percent, $end-color $end-percent); /* W3C */
  
  
//  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}