//
// Typography
// --------------------------------------------------


// Lists
// --------------------------------------------------
 @include mediaAll {

   // Unordered list
   ul {
     padding: 0;
     margin: 0;
     list-style-position: inside;
   }

 }
